*.beam
*.ez
/*.ez
/assets/node_modules
/assets/.fontcustom-manifest.json
/config/*.env
/config/prod.secret.exs
/cover
/db
/deps
/infra/aws-keypair.*
/infra/aws-secrets.*
!/infra/aws-secrets.sh
/infra/aws-stack-parameters.*
!/infra/aws-stack-parameters.sh
/infra/seeds.*.exs
/priv/keys/*.jwk
/priv/static/
!/priv/static/.keep
/releases
/_build
erl_crash.dump
_build/
